* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background: radial-gradient(#3144a3, #201e27);
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.calcBody {
	border-radius: 10px;
	padding: 20px;
}
.display > input {
	background-color: rgba(255, 255, 255, 0.249);
	color: white;
	width: 100%;
	padding: 20px;
	font-size: x-large;
	border-radius: 10px 10px 10px 10px;
	border: none;
	margin-bottom: 5px;
	text-align: end;
}
.keys {
	display: grid;
	grid-template-columns: repeat(3, 120px);
	grid-template-rows: repeat(6, 70px);
	gap: 2px;
}

.keys > button {
	padding: 20px;
	font-size: x-large;
	border-radius: 10px;
}
.keys > button:nth-last-child(1) {
	background-color: rgb(36, 127, 163);
}
.keys > button:nth-last-child(1):hover {
	background-color: rgb(20, 80, 103);
}
.keys > button:hover {
	background-color: rgb(155, 152, 147);
	cursor: pointer;
}

.calcBody > button {
	background-color: rgb(36, 127, 163);
	width: 100%;
	height: 60px;
	margin-top: 2px;
	font-size: x-large;
	border-radius: 10px;
	border: none;
}

.calcBody > button:hover {
	background-color: rgb(20, 80, 103);
	cursor: pointer;
}
